body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0;
    background-color: #e0a3d2; /* Pinkish background */
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: #e0a3d2;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.cake-icon {
    font-size: 5em; /* Larger cake emoji */
    margin-top: 20px;
}
.happy {
background-color: white;
width: 100%;
height: 40px;
padding-top: 20px;
}

.ita {
    background-color: white;
    width: 100%;
    height: 40px;
    padding-top: 20px;

}
.bestie {
    background-color: white;
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
button {
    border-color: #af4095; /* Warna border */
    border-style:inset; /* Gaya border */
    border-width: 4px; /* Ketebalan border */
    background-color: transparent; /* Latar belakang transparan */
    color: #af4095; /* Warna teks */
    padding: 10px 20px; /* Ruang di dalam tombol */
    font-size: 16px; /* Ukuran font */
    cursor: pointer; /* Menunjukkan bahwa ini adalah tombol yang dapat diklik */
    text-align: center; /* Menyelaraskan teks di tengah */
    border-radius: 5px; /* Sudut border yang melengkung */
    transition: background-color 0.3s, color 0.3s; /* Transisi untuk efek hover */
}

button:hover {
    background-color: #af4095; /* Warna latar belakang saat hover */
    color: white; /* Warna teks saat hover */
}